/**************************************************** Tablet (768px bis 1024px) *****************************************************/
@media (min-width: 767px) and (max-width: 1023px) {

    /* header */
    .sub-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .call-me-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        padding: 5px 30px;
        line-height: 1.5;
        font-size: 1.3em;
        color: white;
        background-color: black;
        text-align: center;
    }

    .call-me-mobile i {
        font-size: 30px;
    }

    .hamburger {
        position: sticky;
        top: 0;
        width: 30px;
        height: 21px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: yellow;
        transition: all 0.3s ease;
    }

    .call-me {
        display: none;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -500%;
        background-color: rgb(92, 58, 16);
        width: 50%;
        height: 100%;
        min-width: 300px;
        z-index: 99;
        padding: 130px 30px;
        transition: all 0.3s ease;
    }

    nav ul li {
        border-bottom: 1px solid #eee;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    nav ul li a {
        font-size: 1.4em;
    }

    #dropbtn {
        font-size: 1.4em;
    }

    #dropdownContent {
        min-width: 350px
    }

    #dropdownContentAbout {
        min-width: 350px
    }


    .menu-toggle:checked~.menu {
        right: 0;
    }

    /* Header > Logo */
    .logo>img {
        display: none;
    }

    .logo-mobile {
        display: block;
        margin-right: 30px;
    }

    .logo-mobile>img {
        transform: scale(1.7);
        width: 100px;
        padding-top: 15px;
        padding-bottom: 8px;
        margin-left: 30px;
    }

    /* banner */
    .sub-banner>img {
        width: 100vw;
        padding-top: 50px;
    }

    .sub-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
        padding: 30px 10px;
    }

    .titel-banner {
        width: 100%;
    }

    .sub-banner>.titel-banner>h1 {
        font-size: 2.5em;
    }

    .titel-banner>p {
        font-size: 1.3em;
    }

    .titel-banner>a>button {
        font-size: 1.3em;
    }

    .location {
        font-size: 1.2em;
    }

    /* drei-images */
    .drei-images {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        position: static;
        text-align: center;
        margin-top: -1px;
        background-color: rgb(255, 196, 0);
        padding: 20px 20px;
    }

    .drei-images>div>img {
        width: 40vw;
        width: 100%;
        border: none;
    }

    .salade-c {
        display: none;
    }

    .salade-e {
        display: block;
    }

    .item3 {
        grid-area: span 1 / span 2;
        width: 100%;
    }

    /* Top Our Fast Food  */
    .main-fast-food {
        background-color: black;
        color: white;
        padding-top: 20px;
        padding-bottom: 40px;

    }

    .para {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        line-height: 1.5;
        font-size: 1.1em;
    }

    .see-More-fast-food {
        margin-left: 40px;
        padding-right: 30px;
    }

    /*  Our Catégories */
    .sub-catégories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        row-gap: 60px;
        margin-top: 80px;
    }

    .main-catégories>p {
        font-size: 1.2em;
    }

    .taco-a>img {
        width: 80%;
        height: 230px;
    }

    /* Reviews */
    .main-reviews {
        text-align: center;
        padding: 100px 50px 30px;
        background-color: rgb(40, 116, 137);
        color: white;
    }

    .main-reviews>h2 {
        margin-bottom: 80px;
        font-size: 2em;
    }

    .sub-reviews {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .sub-reviews>img {
        width: 35%;
        height: 500px;
    }

    .leute {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .leute>.profile {
        padding-bottom: 100px;
    }

    .sub-profile {
        display: flex;
        align-items: start;
        text-align: start;
        line-height: 1.5;
        gap: 20px;
    }

    .para-review {
        width: 40%;
        line-height: 1.5;
        font-size: 1.1em;
        margin-top: 10px;
        text-align: start;
    }

    .sub-reviews>.leute>.profile>div>img {
        width: 100px;
        border-radius: 100px;
    }

    /* Reviews */
    .sub-reviews {
        display: flex;
        flex-direction: column;
        gap: 60px;
        justify-content: space-between;
        align-items: center;
    }

    .sub-reviews>img {
        width: 70%;
        height: auto;
    }

    .para-review {
        width: 100%;
        line-height: 1.5;
        font-size: 1.2em;
        margin-top: 10px;
        text-align: start;
    }

    /* About This Food */
    .spécial-food {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 1.2em;
        padding-right: 0;
        position: relative;
    }

    .spécial-food>.back {
        background-color: rgba(33, 33, 33, 0.217);
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .spécial-food>img {
        width: 100%;
    }

    .spécial-food>div {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        position: absolute;
        top: 5%;
        color: rgb(255, 255, 255);
        font-size: 1.4em;
        line-height: 1.5;
        font-weight: bold;
        width: 80%;
        z-index: 100;

    }

    .spécial-food>div>button {
        font-size: 1.3em;
    }

}